body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.app-container {
  display: flex;
  align-items: stretch; /* Equal height for both columns */
  justify-content: center;
  height: 100vh;
  background-color: #dadaee;
}

/* Left column */
.left-column {
  flex: 4;
  border: 2px solid #333; /* Rectangle outline */
  padding: 20px;
  box-sizing: border-box;
}

/* Right column */
.right-column {
  flex: 1;
  border: 2px solid #333; /* Rectangle outline */
  padding: 20px;
  box-sizing: border-box;
}

@media (width <= 900px) {
  .right-column {
    flex: 0;
  }
}

/* Game buttons (square, no text) */
.game-button {
  display: inline-block;
  width: 130px; /* Adjust as needed */
  height: 48px; /* Square buttons */
  background-color: #444444;
  /* Add your game logos as background images */
  background-size: cover;
  margin: 10px;
}

.game-button.selected {
  /* Add any other styles you want for selected buttons */
}

/* Slider styling */
.matchup-slider {
  display: inline-block;
  margin: 20px auto;
  position: relative;
  top: 120px;
}

#slider-input {
  width: 300px;
}

#slider-meter {
  width: 300px;
}

.text-above-slider {
  position: absolute;
  bottom: 50px; /* Adjust the value as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-40%); /* Center horizontally */
  font-size: 60px; /* Adjust font size */
  color: #000000; /* Text color */
  display: flex; /* Use flexbox for alignment */
  align-items: middle; /* Vertically center elements */
}

.winrate {
  color: #87b38d;
}

.questionMessage {
  width: 250px;
  display: inline-block;
  position: relative;
  background-color: white;
}

.winrate-input {
  color: #87b38d;
  font-size: 60px; /* Match the font size */
  background-color: rgba(0, 0, 0, 0.1); /* Make it transparent */
  width: 140px;
  text-align: right; /* Center the input value */
  display: inline-block; /* Display as inline-block */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
.winDivider {
  display: inline;
  margin: 0 10px; /* Add some spacing between elements */
}

.loserate {
  text-align: left;
  width: 140px;
  color: #cc76a1;
}

/* Character portraits (adjust size as needed) */
.labeled-portrait {
  display: inline-block;
  width: 132px;
  margin: 10px;
  vertical-align: top;
}

.labeled-portrait img {
  width: 132px;
  height: 132px;
  border: 2px solid #333;
}

.loading-container {
  width: 132px;
  height: 132px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Game buttons (square, no text) */
.game-button {
  display: inline-block;
  width: 130px; /* Adjust as needed */
  height: 48px; /* Square buttons */
  background-color: #444444;
  /* Add your game logos as background images */
  background-size: cover;
  padding: 0px;
}

.game-button.selected {
  background-color: #999;
}

.matchup-navigation {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Adjusted to vertical layout */
  align-items: center;
}
.matchup-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.matchup-display img {
  max-width: 50px;
  height: auto;
}
