.matchup-container {
  display: flex;
  flex-direction: column;
  background-color: #555555;

	border: 1px solid gray;
  border-radius: 8px;
  padding-bottom: 10px;
}

@media (width <= 800px) {
  .top-row > div {
    flex: 1;
    justify-content: center;
  }
}

.top-row {
  display: flex;
}

.matchup-container-center {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.matchup-graphs {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.labeled-portrait {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 132px;
  margin: 10px;
  vertical-align: top;
}

.labeled-portrait p {
  height: 36px;
}

.labeled-portrait img {
  align-items: center;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  width: 132px;
  height: 132px;
}

.pie-chart-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  svg {
    margin: auto;
  }
}
