.matchup-container {
  display: flex;
  flex-direction: column;
  background-color: #555555;
}

@media (width <= 800px) {
  .top-row > div {
    flex: 1;
    justify-content: center;
  }
}

.top-row {
  display: flex;
}

.matchup-container-center {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.matchup-graphs {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.labeled-portrait {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 132px;
  margin: 10px;
  vertical-align: top;
}

.labeled-portrait img {
  display: flex;
  width: 132px;
  height: 132px;
  border: 2px solid #333;
}

.pie-chart-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  width: 100%;

  svg {
    margin: auto;
  }
}
