.matchup-slider {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.percentContainer {
	justify-content:center;
	display:flex;
}

#slider-meter {
	width:300px;
}

.text-above-slider {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 4.5em;
  justify-content: center;

  .left-percent {
    color: #87b38d;
  }

  .right-percent {
    color: #cc76a1;
  }
}
